ci:
  autofix_prs: false

repos:
  - repo: https://github.com/lucianopaz/head_of_apache
    rev: "0.0.3"
    hooks:
      - id: head_of_apache
        args:
          - --author=The PyMC Labs Developers
          - --exclude=docs/
          - --exclude=scripts/
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.2
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: ["--fix", "--output-format=full"]
        exclude: ^docs/source/notebooks/clv/dev/
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        exclude: ^docs/source/notebooks/clv/dev/
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        files: ^pymc_marketing/
        additional_dependencies: [numpy>=1.20, pandas-stubs]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        exclude: ^docs/source/notebooks/
