# to be used by devs in setting their local environments
name: pymc-marketing-dev
channels:
  - conda-forge
  - defaults
dependencies:
# Base dependencies
- arviz>=0.13.0
- matplotlib>=3.5.1
- numpy>=1.17
- scipy>=1.11
- pandas
- streamlit>=1.25.0
- pip
- pydantic
- preliz
- pyprojroot
# NOTE: Keep minimum pymc version in sync with ci.yml `OLDEST_PYMC_VERSION`
- pymc>=5.23.0
- nutpie>=0.15.1
- pymc-extras>=0.2.1
- pytensor>=2.31.3
- blackjax>=1.2.4
- scikit-learn>=1.1.1
- seaborn>=0.12.2
- xarray
- xarray-einstats>=0.5.1
# Extra dependencies for lint, testing and docs build
# docs
- sphinx
- ipython!=8.7.0
- myst-parser
- myst-nb
- pydata-sphinx-theme>=0.12.0.dev0
- sphinx-copybutton
- sphinx-autodoc-typehints
- sphinxext-opengraph
- sphinx-notfound-page
- sphinx-design
- watermark
- typing
- networkx
- dowhy
# lint
- mypy
- pandas-stubs
- pre-commit>=2.19.0
- ruff>=0.1.4
# test
- lifetimes==0.11.3
- pytest==7.0.1
- pytest-cov==3.0.0
- pytest-mock
- blas
- mlflow
- hatch
- pyprojroot
- pip:
  - roadmapper
