[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools>=61.0"]

[project]
name = "pymc-marketing"
description = "Marketing Statistical Models in PyMC"
requires-python = ">=3.10"
readme = "README.md"
license = { file = "LICENSE" }
dynamic = ["version"]
maintainers = [{ name = "PyMC Labs", email = "info@pymc-labs.io" }]

dependencies = [
    "arviz>=0.13.0",
    "matplotlib>=3.5.1",
    "numpy>=1.17",
    "pandas",
    # NOTE: Used as minimum pymc version with ci.yml `OLDEST_PYMC_VERSION`
    "pymc>=5.12.0",
    "scikit-learn>=1.1.1",
    "seaborn>=0.12.2",
    "xarray",
    "xarray-einstats>=0.5.1",
]

[project.optional-dependencies]
docs = [
    "sphinx",
    "ipython!=8.7.0",
    "myst-parser",
    "myst-nb<=1.0.0",
    "pydata-sphinx-theme>=0.12.0.dev0",
    "sphinx-copybutton",
    "sphinx-autodoc-typehints",
    "sphinxext-opengraph",
    "sphinx-notfound-page",
    "sphinx-design",
]
lint = ["mypy", "pandas-stubs", "pre-commit>=2.19.0", "ruff>=0.1.4"]
test = ["lifetimes==0.11.3", "pytest==7.0.1", "pytest-cov==3.0.0"]

[tool.setuptools]
packages = [
    "pymc_marketing",
    "pymc_marketing.mmm",
    "pymc_marketing.clv",
    "pymc_marketing.clv.models",
]

[tool.setuptools.dynamic]
version = { file = "pymc_marketing/version.txt" }

[project.urls]
repository = "https://github.com/pymc-labs/pymc-marketing"
# Other options
#homepage = "https://bambinos.github.io/bambi"
#documentation = ""
#changelog = ""

[tool.ruff.lint]
select = ["B", "E", "F", "I", "RUF", "S", "UP", "W"]
ignore = [
    "B904",   # raise-without-from-inside-except
    "RUF001", # String contains ambiguous character (such as Greek letters)
    "RUF002", # Docstring contains ambiguous character (such as Greek letters)
    "RUF012", # Mutable class attributes should be annotated with `typing.ClassVar`
]
[tool.ruff.lint.per-file-ignores]
"docs/source/notebooks/*" = [
    "B018", # Checks for "useless" expressions. Not useful for notebooks.
]
"tests/*" = [
    "B018", # Checks for "useless" expressions. This is useful for tests.
    "S101", # Use of assert
]

[tool.ruff.lint.pycodestyle]
max-line-length = 120

[tool.pytest.ini_options]
addopts = [
    "-v",
    "--strict-markers",
    "--strict-config",
    "--cov=pymc_marketing",
    "--cov-report=term-missing",
    "--color=yes",
]
filterwarnings = ["ignore::DeprecationWarning:bokeh.core.property.primitive:37"]
testpaths = "tests"
