# Core packages for documentation
sphinx
myst-nb<=1.0.0
myst-parser
labs-sphinx-theme
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-design
sphinx-notfound-page
sphinxext-opengraph
numpydoc
ipython!=8.7.0
ipywidgets
watermark

# Core packages needed for the code
numpy>=1.17
pandas
matplotlib>=3.5.1
seaborn>=0.12.2
arviz>=0.13.0
pymc>=5.21.1
xarray>=2024.1.0
xarray-einstats>=0.5.1
preliz>=0.8.0
pyprojroot

# Optional extras that don't depend on problematic packages
graphviz
fastprogress
