name: Test

on:
  pull_request:
    branches: [main]
    paths:
     - "pyproject.toml"
     - "tests/**.py"
     - "pymc_marketing/**"
  push:
    branches: [main]
    paths:
     - "pyproject.toml"
     - "tests/**.py"
     - "pymc_marketing/**"

env:
  # The lower bound from the pyproject.toml file
  OLDEST_PYMC_VERSION: "$(grep -E 'pymc *>' pyproject.toml | sed -n 's/.*>=\\([0-9]*\\.[0-9]*\\.[0-9]*\\).*/\\1/p')"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: [ {python-version: "3.10", oldest-pymc: false}, {python-version: "3.12", oldest-pymc: true}]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.config.python-version }}
      - name: Install oldest version of PyMC
        if: ${{ matrix.config.oldest-pymc }}
        run: pip install pymc==${{ env.OLDEST_PYMC_VERSION }}
      - name: Run tests
        run: |
          sudo apt-get install graphviz
          pip install -e .[test]
          pytest
      - name: Check oldest version of PyMC
        if: ${{ matrix.config.oldest-pymc }}
        run: python -c "import pymc; assert pymc.__version__ == '${{ env.OLDEST_PYMC_VERSION }}'"
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # use token for more robust uploads
          name: ${{ matrix.config.python-version }}
          fail_ci_if_error: false

  test_slow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Run tests
        run: |
          pip install -e .[test,dag]
          pytest --only-slow
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # use token for more robust uploads
          name: "test_slow"
          fail_ci_if_error: false
