name: Test Notebooks

on:
  pull_request:
    branches: [main]
    paths:
     - "pyproject.toml"
     - "tests/**.py"
     - "pymc_marketing/**"
     - ".github/workflows/test_notebook.yml"
     - "scripts/run_notebooks/**.py"
     - "docs/source/notebooks/**.ipynb"
     - "!docs/source/notebooks/mmm/**.ipynb"
     - "!docs/source/notebooks/*/dev/**.ipynb"
  push:
    branches: [main]
    paths:
     - "pyproject.toml"
     - "tests/**.py"
     - "pymc_marketing/**"
     - ".github/workflows/test_notebook.yml"
     - "scripts/run_notebooks/**.py"
     - "docs/source/notebooks/**.ipynb"
     - "!docs/source/notebooks/mmm/**.ipynb"
     - "!docs/source/notebooks/*/dev/**.ipynb"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  notebooks:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        split:
          - "--notebooks mmm --end-idx 10"
          - "--notebooks mmm --start-idx 10"
          - "--notebooks clv"
          - "--notebooks bass"
          - "--notebooks customer_choice"
          - "--notebooks general"
          - "--exclude-dirs mmm clv bass customer_choice general"
    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: |
        sudo apt-get install graphviz graphviz-dev
        uv venv --python 3.12
        uv pip install --upgrade pip
        uv pip install -e ".[docs,test,dag]"

    - name: Run notebooks
      run: uv run scripts/run_notebooks/runner.py ${{ matrix.split }}
