name: Update the UML Diagrams

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 1"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: main
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Update the UML Diagrams
        run: |
          sudo apt-get update && sudo apt-get install -y graphviz
          make uml

      - name: Create PR for changes
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ github.token }}
          commit-message: "chore: Update UML Diagrams"
          title: "Update UML Diagrams"
          body: |
            This PR updates the UML diagrams

            This PR was created automatically by the [UML workflow](https://github.com/pymc-labs/pymc-marketing/blob/main/.github/workflows/uml.yml).

            See the logs [here](https://github.com/pymc-labs/pymc-marketing/actions/workflows/uml.yml) for more details.
          branch: automated/update-uml-diagrams
          delete-branch: true
          labels: "no releasenotes"
          reviewers: williambdean,juanitorduz
